@font-face {
    font-family: 'biryanilight';
    src: url('../font/Biryani-Light-webfont.eot');
    src: url('../font/Biryani-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/Biryani-Light-webfont.woff2') format('woff2'),
         url('../font/Biryani-Light-webfont.woff') format('woff'),
         url('../font/Biryani-Light-webfont.ttf') format('truetype'),
         url('../font/Biryani-Light-webfont.svg#biryanilight') format('svg');
    font-weight: normal;
    font-style: normal;

}

