body {
  background-color: #EFF4F5;
	background-image: url(../img/image-4BC.png);
	background-repeat: no-repeat;
    background-size: 100%;
	background-attachment: fixed;
	
    margin: 0;
  font-family: 'biryanilight';
}

.topnav {
  overflow: visible;
  
}

.topnav a {
  float: left;
  color: #000000;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;

  font-style: normal;
  font-size: 20px;
}


.topnav a:hover {
  background-color: #000000;
  color: white;
}
/*
.noir{
	padding:100px 100px;
	background-color:black;
}
*/
/* Search bar*/
input[name=search]{
    width: 45%;
	height:50px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 10px;
    font-size: 10px;
    background-color: white;
    background-image: url('searchicon.png');
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 5px 5px 5px 5px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
    
}
input[name=search]:focus{
	 width: 80%;
}


input[name=uname]{
    width: 40%;
	
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 10px;
    font-size: 20px;
    background-color: white;
    background-image: url('searchicon.png');
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 5px 5px 5px 5px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
    
}
input[type=email]{
    width: 40%;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 10px;
    font-size: 20px;
    background-color: white;
    background-image: url('searchicon.png');
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 5px 5px 5px 5px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
    
}
input[type=password]{
    width: 40%;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 10px;
    font-size: 20px;
    background-color: white;
    background-image: url('searchicon.png');
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 5px 5px 5px 5px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
    
}
button[type=submit]{
	padding:1px 10px;
	margin:1px 25%;
}
.Project{
	font-size:20px;
}
.Quest {
	background-color: rgba(255,255,255,0.7);
	padding: 120px 20px 120px 40px;
}

.form{
	font-color:black;
	font-size: 25px;
}

#submit {
	padding: 5px 5px 5px 5px;
}

.titre{
	padding: 25px 100px;
	
}
.cosmetic{
	width:40%;
	padding: 1px 15px;
	border-radius:50px;
	float:left;
	
}
.txt_projet{
	font-size:40px;
}

.container{
	padding:1px 250px;

}

.b-form{
	padding:1px 700px;
	
	}